@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;700&display=swap");

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
  padding: 0;
  box-shadow: border-box;
}

.w3-teal{
  height: 110px;
}

/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;	
}

/* table cells */
div#redips-drag td {
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* table cells */
div#redips-drag th {
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

input{
	margin: auto;
	text-align: center;
	width: 87px;
	height: 35px;
	line-height: 35px;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	text-align: center;
	width: 87px;
	height: 35px;
	line-height: 35px;
	border: 2px solid SteelBlue;
	background-color: white;
}

/* Cálculos células */
.total{
	float:left;
  }

/* trash cell */
.redips-trash {
	color: white;
	background-color: CornflowerBlue;
	text-align: center;
	font-size: 12pt;
}

div#redips-drag #table2 {
  /* align table to the right */
  margin-left: auto;
  
}

/* right table - td */
#table2 td {
  border: 2px #DDC5B5 solid;
}

/* left table - td */
#table1 td {
  border-width: 0px 0px 1px 0px;
  border-color: white;
}


/* Perfil */
.card{
  position: absolute;
  width: 350px;
  height: 110px;
  top: 6px;
  margin-left: 77%;
  background: transparent;
  padding: 20px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.card.active{
  height: 400px;
  box-shadow: 0 50px 50px rgba(0,0,0,0.2);
}

.card .content{
  display: flex;
  align-items: center;
}

.card .content .imgBx{
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.card .content .imgBx img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content h2{
  margin-left: 15px;
  font-size:  1.3em;
  color: #fff;
}

.card .content h2 span{
  font-size: 0.8em;
  font-weight: 400;
  color: #fff;
}

.navigation{
  position: relative;
  top: 25px;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 20px 0;
}

.navigation li{
  list-style: none;
  margin: 15px 0;
}

.navigation li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #555;
  font-size: 1.1em;
  transition: color 0.25s;
}

.navigation li a:hover{
  color: #006b2d;
}

.navigation li a ion-icon{
  font-size: 1.6em;
  margin-right: 15px;
}

.toggle{
  position: absolute;
  width: 40px;
  bottom: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.toggle ion-icon{
  color:#fff;
  font-size: 1.4em;
  transition: transform ease-in-out 0.5s;
}

.card.active .toggle ion-icon{
  transform: rotate(-180deg);
  color:#111;
 
}